.add-range {
  width: 320px;
  .center-block;
  border-top: 3px solid @green;
}

.add-range__title {
  .font(24px, 400, 24px);
  color: @1;
  width: 230px;
  padding-left: 19px;
  padding-right: 18px;
  margin-bottom: 34px;
  margin-top: -17px;
  background-color: white;
  text-align: left;
}

.add-range__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.add-range__promo {
  display: block;
  box-sizing: border-box;
  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  min-height: 289px;
  text-align: center;
  margin-top: 39px;
  padding-top: 65px;
  padding-bottom: 42px;
  margin-bottom: 32px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.add-range__promo-icon {
  margin-bottom: 59px;
}

.add-range__promo-text {
  color: #ffffff;
  font-family: "Arial MT", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .add-range {
    width: @tablet-width;
    margin-bottom: 75px;
  }

  .add-range__title {
    width: 340px;
    margin-left: 28px;
    padding-left: 39px;
    padding-right: 34px;
    .font(36px, 400, 36px);
    margin-top: -25px;
    margin-bottom: 80px;
  }

  .add-range__promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;
    min-height: 200px;
    box-sizing: border-box;
    margin-top: 69px;
    margin-bottom: 0;
    padding: 46px 115px 55px 91px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .add-range__promo-text {
    width: 170px;
    text-align: left;
    padding-top: 13px;
  }

  .add-range__promo-icon {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .add-range {
    width: 1440px;
    margin-bottom: 86px;
    /*padding-bottom: 80px;*/
  }

  .add-range__title {
    margin-left: 70px;
    padding-left: 38px;
  }

  .add-range__promo {
    flex-direction: column;
    width: 245px;
    margin-top: 0;
    padding: 43px;
    padding-top: 65px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: cover;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .add-range__promo-text {
    text-align: center;
  }

  .add-range__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
