.features__title {
  .font(36px, 400, 60px);
  color: @1;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 80px;
}

.features__item {
  .text-font();
  margin-bottom: 20px;
}
