.features {
  margin-bottom: 46px;
}

.features__title {
  .font(36px, 400, 60px);
  color: @1;
  margin-top: 0;
  margin-bottom: 28px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  position: relative;
  .text-font();
  padding-left: 80px;
  margin-bottom: 26px;
}

.features__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: @green;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
}

.features__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px 50px;
  }
}

.features__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px 50px;
  }
}

.features__item--dining::before {
  background-image: url("../img/advantage-dining@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px 50px;
  }
}

.features__item--time::before {
  background-image: url("../img/advantage-clock@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px 50px;
  }
}

@media (min-width: @tablet-width) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 80px;
    margin-bottom: 76px;
  }

  .features__item {
    padding-left: 0;
    padding-top: 112px;
    .font(16px, 400, 24px);
    width: 245px;
  }

  .features__item:first-child {
    margin-bottom: 133px;
  }

  .features__item::before {
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
  }

  .features__item::after {
    position: absolute;
    content: "";
    color: #f2f2f2;
    font-family: "Oswald", "Arial", sans-serif;
    .font(281px, 400, 281px);
    z-index: -1;
    top: -40px;
  }

  .features__item--leaf::after {
    content: "1";
    right: 15px;
  }

  .features__item--powder::after {
    content: "2";
    right: 0;
  }

  .features__item--dining::after {
    content: "3";
    right: -3px;
  }

  .features__item--time::after {
    content: "4";
    right: -3px;
  }

  .features__title {
    .font(60px, 400, 60px);
    margin-bottom: 72px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    margin-bottom: 0;
  }

  .features__item {
    margin-right: 0;
  }

  .features__item:first-child {
    margin-bottom: 45px;
  }

  .features__list {
    padding-right: 0;
    margin-bottom: 0;
  }
}
