.features {
  margin-bottom: 42px;
}

.features__title {
  .font(36px, 400, 60px);
  color: @1;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  .text-font();
  padding-left: 80px;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    width: 240px;
    padding-left: 0;
    padding-top: 110px;
    .font(16px, 400, 24px);
  }
}
