.footer {
  .center-block();
  width: 320px;
}

.footer__contacts {
  margin-bottom: -5px;
}

.footer__adress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts--other {
  background-color: @grey;
}

.footer__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-color: @grey;
  background-size: cover;
  width: 320px;
  height: 362px;
  .center-block;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.footer__main {
  background-color: @grey;
  padding-top: 41px;
  padding-bottom: 30px;
}

.footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 29px;
  border-bottom: 1px solid #dadada;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: auto;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 18px;
  width: 130px;
}

.footer__social-item {
  margin-right: 5px;
}

.footer__social-item svg {
  fill: #666666;
}

.footer__social-item:hover svg {
  fill: @green;
}

.footer__social-item:active svg {
  opacity: 0.3;
}

.footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text-font(16px, 400, 16px, @4);
  text-decoration: none;

  &:hover svg {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright {
  padding-top: 21px;
  border-top: 1px solid #dadada;
}


@media (min-width: @tablet-width) {
  .footer {
    width: @tablet-width;
  }

  .footer__map {
    width: @tablet-width;
    height: 396px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .footer__main {
    padding-top: 62px;
    padding-bottom: 54px;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__social {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 3px;
  }

  .footer__social-icon--vk {
    width: 30px;
    height: 16px;
  }

  .footer__social-icon--insta {
    width: 23px;
    height: 23px;
  }

  .footer__social-icon--fb {
    width: 14px;
    height: 28px;
  }

  .footer__logo {
    margin: 0;
    border: none;
    padding: 0;
    padding-right: 28px;
  }

  .footer__copyright {
    margin-top: 0;
    padding: 0;
    border: none;
    width: 164px;
    margin-bottom: 3px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 1440px;
  }

  .footer__contacts {
    position: relative;
  }

  .footer__adress {
    position: absolute;
    background-color: white;
    width: 570px;
    height: 201px;
    z-index: 2;
    top: 95px;
    left: 110px;
    padding: 60px;
  }

  .footer__map {
    width: 1440px;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
