.footer {
  width: 320px;
  .center-block();
}

.footer__map {
  width: 320px;
  height: 362px;
  margin-right: auto;
}

.footer__main {
  background-color: @grey;
}

.footer__logo {
  display: block;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 125px;
  list-style: none;
  margin: auto;
  padding: 0;
}

.footer__academy {
  .text-font(16px, 400, 16px, @4);
  text-decoration: none;
}
