.good {
  border: 1px solid #ededed;
  border-bottom: none;
  box-sizing: border-box;
  padding: 0 19px 24px 19px;
}

.good__image {
  float: left;
  width: 140px;
  height: 144px;
}

.good a {
  text-decoration: none;
}

.good__name {
  display: inline-block;
  .font(16px, 400, 20px);
  text-transform: uppercase;
  color: @1;
  margin-top: 21px;
  margin-bottom: 11px;
  width: 75px;
}

.good__desc {
  width: 137px;
  .text-font(12px, 400, 16px, @4);
  margin-bottom: 16px;
}

.good__desc td {
  padding: 0;
}

.good__num {
  text-align: right;
}

.good--ajax {
  text-align: center;
  border: 1px solid #ededed;
  padding-top: 27px;
}

.good--ajax a {
  display: block;
}

.good__name--ajax {
  width: auto;
  margin-top: 19px;
  margin-bottom: 8px;
}

.good__desc--ajax {
  text-align: center;
  width: auto;
  margin: 0;
  margin-bottom: 21px;
}

.good__image--ajax {
  text-align: center;
  float: none;
  /*background-color: @2;*/
  opacity: 0.2;
  width: 30px;
  height: 30px;
}

.good__button--ajax {
  .font(16px, 400, 20px);
  font-family: "Oswald", "Arial", sans-serif;
  color: @4;
  width: 100%;
  background-color: @grey;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.good--add {
  display: flex;
  flex-direction: column;
  border: none;
  border-top: 1px solid #cdcdcd;
  background-color: white;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 17px;
}

.good--add:last-child {
  border-bottom: 1px solid #cdcdcd;
}


.good__name--add {
  margin-top: 0;
  margin-bottom: 10px;
  width: auto;
}

.good__desc--add {
  .text-font();
  line-height: 14px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: auto;
}

@media (min-width: @tablet-width) {
  .good {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    background-color: @grey;
    padding: 0;
    padding-bottom: 40px;
    margin-bottom: 3px;
  }

  .good a {
    display: block;
    text-align: center;
  }

  .good__image {
    float: none;
    width: 100%;
    margin-bottom: 14px;
  }

  .good__image--small {
    height: 172px;
    margin-top: -48px;
  }

  .good__image--big {
    height: 208px;
    margin-top: -84px;
  }

  .good__name {
    .font(20px, 400, 20px);
    width: auto;
  }

  .good__name span {
    display: block;
  }

  .good__desc {
    margin-top: 8px;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .good__desc td {
    border-bottom: 1px solid #cdcdcd;
    border-right-width: 0;
    padding-bottom: 7px;
    padding-top: 6px;
  }

  .good__button {
    width: 250px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .good--ajax {
    background-color: white;
    padding-top: 55px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .good__name--ajax {
    margin-bottom: 27px;
    width: 140px;
  }

  .good__image--ajax {
    background-color: transparent;
    width: 60px;
    height: 60px;
    margin-bottom: 26px;
  }

  .good__desc--ajax {
    margin-top: 0;
    margin-bottom: 85px;
  }

  .good__button--ajax {
    margin: 0;
  }

  .good--add {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    width: auto;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding-top: 25px;
    padding-right: 36px;
    padding-bottom: 27px;
    padding-left: 37px;
    margin-bottom: 0;
  }

  .good__name--add {
    margin: 0;
  }

  .good__button--add {
    width: 633px;
    font-size: 16px;
    margin-top: 24px;
  }

  .good__desc--add {
    width: 240px;
    padding: 0;
    padding-top: 8px;
    margin: 0;
    justify-content: flex-end;
  }

  .good__price--add {
    width: 95px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .good {
    width: 245px;
    margin-bottom: 5px;
  }

  .good__button {
    width: 169px;
  }

  .good--ajax {
    padding-left: 0;
    padding-right: 0;
  }

  .good--add {
    align-items: baseline;
    width: 895px;
    border: none;
    border-top: 1px solid @grey;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .good--add:last-child {
    border-bottom: 1px solid @grey;
  }

  .good__button--add {
    width: 245px;
    margin: 0;
  }

  .good--add .good__name--add {
    margin-bottom: 0;
    width: 325px;
    text-align: left;
  }

  .good__desc--add {
    width: 286px;
    align-items: flex-end;
    margin-bottom: 8px;
    padding: 0;
    justify-content: space-between;
    margin-right: 34px;
  }
}
