.good {
  border: 1px solid #ededed;
  border-bottom: none;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}

.good__image {
  float: left;
  width: 140px;
  height: 144px;
}

.good a {
  text-decoration: none;
}

.good__name {
  .font(16px, 400, 20px);
  text-transform: uppercase;
  color: @1;
  margin-top: 25px;
  margin-bottom: 18px;
}

.good__desc {
  width: 137px;
  .text-font(12px, 400, 16px, @4);
  margin-bottom: 23px;
}

.good__num {
  text-align: right;
}

.good--ajax {
  text-align: center;
  border: 1px solid #ededed;
  padding-top: 27px;
}

.good--ajax a {
  display: block;
}

.good__image--ajax {
  text-align: center;
  float: none;
  background-color: @2;
  opacity: 0.2;
  width: 30px;
  height: 30px;
}

.good__button--ajax {
  .font(16px, 400, 20px);
  font-family: "Oswald", "Arial", sans-serif;
  color: @4;
  width: 100%;
  background-color: @grey;
}

.good--add {
  display: flex;
  flex-direction: column;
  border: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  background-color: white;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 17px;
}

.good__name--add {
  margin-top: 0;
  margin-bottom: 15px;
}

.good__desc--add {
  .text-font();
  line-height: 14px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}

@media (min-width: @tablet-width) {
  .good {
    width: 324px;
    background-color: @grey;
    padding: 0 37px 40px 37px;
  }

  .good a {
    display: block;
    text-align: center;
  }

  .good__image {
    float: none;
    width: 161px;
    height: 172px;
  }

  .good__name {
    .font(20px, 400, 20px);
  }

  .good__desc {
    width: 100%;
    font-size: 16px;
  }

  .good__desc td {
    border-bottom: 1px solid #cdcdcd;
    border-right-width: 0;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .good--ajax {
    background-color: white;
  }

  .good--add {
    padding-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    background-color: white;
    border: 1px solid #cdcdcd;
  }

  .good__button--add {
    width: 633px;
    font-size: 16px;
    padding: 10px;
  }

  .good__desc--add {
    width: 225px;
  }
}

@media (min-width: @desktop-width) {
  .good {
    width: 245px;
  }

  .good--add {
    align-items: center;
    width: 895px;
    border: none;
    border-top: 1px solid @grey;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .good--add:last-child {
    border-bottom: 1px solid @grey;
  }

  .good__button--add {
    width: 245px;
  }

  .good--add .good__name--add {
    margin-bottom: 0;
    width: 325px;
    text-align: left;
  }

  .good__desc--add {
    align-items: center;
    margin-bottom: 0;
  }
}
