.good {
  border: 1px solid #ededed;
  border-bottom: none;
  box-sizing: border-box;
  padding: 0 25px 20px 20px;
}

.good--ajax {
  text-align: center;
  border: 1px solid #ededed;
}

.good--add:last-child {
  border: 1px solid #ededed;
}

.good a {
  text-decoration: none;
}

.good__name {
  .font(16px, 400, 20px);
  text-transform: uppercase;
  color: @1;
}

.good__desc {
  .text-font(12px, 400, 16px, @4);
}

.good__desc--add {
  .text-font();
  line-height: 14px;
}


.good__button--ajax {
  .font(16px, 400, 20px);
  font-family: "Oswald", "Arial", sans-serif;
  color: @4;
  width: 100%;
  background-color: @grey;
}
