.main-nav {
  position: relative;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  border: 1px solid @border-grey;
  border-bottom: none;
}

.main-nav__item a {
  display: block;
  text-decoration: none;
  color: @2;
  text-transform: uppercase;
  .font(20px, 500, 20px);
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  width: 24px;
  height: 18px;
  border: none;
  right: 0;
  top: -40px;
  padding: 0;
  z-index: 2;
  background-color: transparent;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  right: 0;
  top: 0;

  width: 24px;
  height: 2px;

  background-color: @2;
  box-shadow: 0 8px 0 0 @2, 0 16px 0 0 @2;
}

.main-nav--opened .main-nav__toggle {
  right: 0;
  top: -40px;
  height: 18px;
  width: 18px;

  &::before {
    content: "";

    position: absolute;
    top: 9px;
    left: -3px;


    width: 24px;
    height: 2px;
    transform: rotate(45deg);

    background-color: @2;
  }

  &::after {
    content: "";

    position: absolute;
    top: 9px;
    right: -3px;


    width: 24px;
    height: 2px;
    transform: rotate(-45deg);

    background-color: @2;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: flex;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 516px;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    border: none;
    padding-left: 35px;
  }

  .main-nav__item a {
    .font(18px, 400, 24.86px);
  }

  .main-nav__item--active a {
    border-bottom: 2px solid @green;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item a {
    .font(20px, 400, 24.86px);
  }

  .main-nav__list--index a {
    color: white;
  }

  .main-nav__item--active a {
    border-bottom: 2px solid white;
  }
}
