.main-header {
  background-color: #ffffff;
}

.main-header--index {
  background-image: linear-gradient(@green), url("../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-repeat: no-repeat;
  background-position: top center;
  .center-block();
}

.main-header__title {
  .font(36px, 400, 60px);
  text-align: center;
  color: @1;
}

.main-header__title--index {
  color: #ffffff;
  line-height: 36px;
}

.main-header__text {
  .font(14px, 400, 18px);
  text-align: center;
  color: @1;
  text-transform: uppercase;
}

.main-header__text--index {
  color: #ffffff;
  line-height: 14px;
}

.main-header__button {
  width: 100%;
}
