.order-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-form__fieldset {
  border: none;
}

.order-form__legend {
  .font(24px, 400, 24px);
  color: @1;
}

.order-form__label {
  .font(16px, 400, 18px);
  color: @1;
  text-transform: uppercase;
}

.order-form__item input[placeholder],
.order-form__fieldset textarea {
  font-family: "Oswald", "Arial", sans-serif;
  .font(16px, 400, 18px);
  color: @4;
  text-transform: uppercase;
}

.order-form__button {
  width: 100%;
}

.order-form__note {
  .text-font();
  line-height: 16px;
}
