.order-form {
  width: 320px;
  .center-block();
}

.order-form__button {
  width: 280px;
  .center-block();
}

.order-form__note {
  .text-font();
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .order-form {
    width: @tablet-width;
    margin-bottom: 80px;
  }

  .order-form__button {
    width: 280px;
    margin: 0;
    float: left;
    margin-left: 71px;
  }

  .order-form__note {
    text-align: center;
    vertical-align: middle;
  }
}

@media (min-width: @desktop-width) {
  .order-form {
    width: 1440px;
  }

  .order-form__button {
    width: 568px;
    margin-left: 110px;
  }

  .order-form__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    .center-block;
    margin-bottom: 73px;
  }
}
