.order-form {
  width: 320px;
  .center-block();
  padding-bottom: 19px;
}

.order-form__button {
  width: 280px;
  .center-block();
}

.order-form__note {
  .text-font();
  line-height: 16px;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .order-form {
    width: @tablet-width;
    margin-bottom: 105px;
  }

  .order-form__button {
    width: 280px;
    margin: 0;
    float: left;
    margin-left: 71px;
  }

  .order-form__note {
    .font(16px, 400, 16px);
    float: right;
    text-align: left;
    width: 354px;
    vertical-align: baseline;
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .order-form {
    width: 1440px;
    margin-bottom: 116px;
  }

  .order-form__button {
    width: 568px;
    margin-left: 110px;
  }

  .order-form__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    .center-block;
    margin-bottom: 68px;
  }

  .order-form__note {
    float: right;
    text-align: left;
    width: 680px;
    vertical-align: baseline;
    margin-left: 50px;
    margin-top: 15px;
  }
}
