.page-header__wrapper {
  width: 320px;
  .center-block();
  border-bottom: 1px solid @grey;
}

.page-header__logo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom: 14px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo:hover .page-header__logotype {
  opacity: 0.8;
}

.page-header__logo:active .page-header__logotype {
  opacity: 0.8;
}


@media (min-width: @tablet-width) {
  .page-header {
    margin-top: 13px;
  }

  .page-header__wrapper {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__logo img {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header--index {
    min-height: 696px;
    .center-block();
    padding-top: 12px;
    margin-bottom: 80px;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, white 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: right top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, white 50%, #65a93c 50%);
      background-size: 720px 696px, 100% 700px;
    }
  }

  .page-header__wrapper {
    width: 1220px;
    background-color: transparent;
    padding-top: 30px;
    border: none;
  }

  .page-header__logo img {
    width: 202px;
    height: 59px;
  }
}
