.page-header__wrapper {
  width: 320px;
  .center-block();
}

.page-header__logo {
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo:hover .page-header__logotype {
  opacity: 0.8;
}

.page-header__logo:active .page-header__logotype {
  opacity: 0.8;
}


@media (min-width: @tablet-width) {
  .page-header {
    margin-top: 24px;
  }

  .page-header__wrapper {
    width: 708px;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__logo img {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header--index {
    min-height: 700px;
    .center-block();
    margin-top: 0;
    background-color: transparent;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, white 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: right top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, white 50%, #65a93c 50%);
      background-size: 720px 696px, 100% 700px;
    }
  }

  .page-header__wrapper {
    width: 1220px;
    background-color: transparent;
    padding-top: 54px;
  }

  .page-header__logo img {
    width: 202px;
    height: 59px;
  }
}
