.ways {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ways__dir {
  background-color: @grey;
}

.ways__title {
  .font(24px, 400, 37.02px);
  text-transform: uppercase;
  color: @1;
}

.ways__desc {
  .text-font();
}

.ways__link {
  .font(16px, 400, 16px);
  text-transform: uppercase;
  text-decoration: none;
  color: @1;
}
