/*colors*/
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2"), url("../fonts/oswaldregular.woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2"), url("../fonts/oswaldmedium.woff");
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #111111;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 280px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}
.main-nav {
  position: relative;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  border: 1px solid #e6e6e6;
  border-bottom: none;
}
.main-nav__item a {
  display: block;
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.main-nav__item a:hover {
  opacity: 0.6;
}
.main-nav__item a:active {
  opacity: 0.3;
}
.main-nav__toggle {
  position: absolute;
  width: 24px;
  height: 18px;
  border: none;
  right: 20px;
  top: -45px;
  padding: 0;
  z-index: 2;
  background-color: transparent;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 2px;
  background-color: #222222;
  -webkit-box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
          box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}
.main-nav--opened .main-nav__toggle {
  right: 22px;
  top: -44px;
  height: 18px;
  width: 18px;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 24px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #222222;
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -3px;
  width: 24px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #222222;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: 516px;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__item {
    border: none;
    padding-left: 35px;
  }
  .main-nav__item a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  .main-nav__item--active a {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1300px) {
  .main-nav__item a {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.86px;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .main-nav__list--index a {
    color: white;
  }
  .main-nav__list--index .main-nav__item--active a {
    border-bottom: 2px solid white;
  }
}
.page-header__wrapper {
  width: 320px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border-bottom: 1px solid #f2f2f2;
}
.page-header__logo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom: 14px;
}
.page-header__logo:hover {
  opacity: 0.8;
}
.page-header__logo:active {
  opacity: 0.6;
}
.page-header__logo:hover .page-header__logotype {
  opacity: 0.8;
}
.page-header__logo:active .page-header__logotype {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .page-header {
    margin-top: 13px;
  }
  .page-header__wrapper {
    width: 708px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header__logo {
    margin-left: 0;
  }
  .page-header__logo img {
    width: 173px;
    height: 58px;
  }
}
@media (min-width: 1300px) {
  .page-header--index {
    min-height: 696px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 12px;
    margin-bottom: 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: transparent;
    background-image: url("../img/index-background-desktop@1x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #65a93c));
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, white 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: right top;
  }
  .page-header__wrapper {
    width: 1220px;
    background-color: transparent;
    padding-top: 30px;
    border: none;
  }
  .page-header__logo img {
    width: 202px;
    height: 59px;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .page-header--index {
    background-image: url("../img/index-background-desktop@2x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #65a93c));
    background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, white 50%, #65a93c 50%);
    background-size: 720px 696px, 100% 700px;
  }
}
.main-header--index {
  background-size: 320px 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-header--index {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}
.main-header__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  margin: 0;
  padding-top: 15px;
  /*по каталогу*/
  margin-bottom: 28px;
}
.main-header__title--index {
  line-height: 36px;
  text-align: center;
  color: white;
  margin-bottom: 25px;
  padding-top: 25px;
}
.main-header__title--form {
  padding-top: 14px;
  margin-bottom: 25px;
}
.main-header__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
}
.main-header__text--index {
  color: white;
  line-height: 14px;
  text-align: center;
  margin-bottom: 27px;
}
.main-header__text--form {
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*padding-left: 90px;*/
  }
  .main-header--index {
    background: none;
  }
  .main-header__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 40px;
  }
  .main-header__title--index {
    color: #222222;
    text-align: left;
    margin-bottom: 42px;
    padding-left: 88px;
    padding-top: 41px;
  }
  .main-header__title--form {
    margin-bottom: 55px;
  }
  .main-header__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .main-header__text--form {
    margin-left: 40px;
    margin-bottom: 66px;
  }
  .main-header__text--index {
    color: #222222;
    text-align: left;
    line-height: 20px;
    margin-bottom: 47px;
    padding-left: 90px;
  }
  .main-header__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -80px;
    z-index: -1;
  }
  .main-header__image-photo {
    width: 709px;
    height: 609px;
  }
  .main-header__button {
    width: 245px;
    margin-left: 88px;
  }
}
@media (min-width: 1300px) {
  .main-header {
    margin-bottom: 27px;
  }
  .main-header__title {
    padding-top: 58px;
  }
  .main-header__title--index {
    color: #222222;
    text-align: left;
    padding-top: 94px;
    padding-left: 80px;
    margin-bottom: 40px;
  }
  .main-header__text--form {
    margin-left: 0;
  }
  .main-header__image {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -367px;
    margin-right: 217px;
    z-index: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .main-header__image-photo {
    width: 552px;
    height: 500px;
  }
  .main-header__text--index {
    margin-bottom: 53px;
    padding-left: 80px;
  }
  .main-header__button {
    margin-left: 80px;
  }
}
.site-button {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background: #68b738;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding-top: 11px;
  padding-bottom: 11px;
}
.site-button:hover {
  background-color: #5eaa2f;
}
.site-button:active {
  color: rgba(225, 225, 225, 0.3);
}
@media (min-width: 768px) {
  .site-button {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.options {
  margin-top: 22px;
}
.options__item {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .options__item {
    margin-bottom: 31px;
  }
  .options {
    margin-top: 0;
    margin-bottom: 45px;
  }
}
@media (min-width: 1300px) {
  .options__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .options__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 570px;
  }
  .options__item:not(:last-child) {
    margin-right: 80px;
  }
  .options {
    margin-bottom: 42px;
  }
}
.ways {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ways__dir {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;
}
.ways__icon-box {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  border: 4px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 25px;
  left: 22px;
}
.ways__icon {
  position: absolute;
  top: -7px;
  left: 4px;
}
.ways__icon--pro {
  max-width: none;
  top: 6px;
  left: -14px;
}
.ways__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
  color: #111111;
  padding-left: 71px;
  padding-bottom: 29px;
  margin-top: 10px;
}
.ways__desc {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  padding-bottom: 22px;
}
.ways__link {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
  border-top: 1px solid #dadada;
  padding-top: 20px;
}
.ways__link:active {
  opacity: 0.3;
}
.ways__link::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 11px;
  background-color: transparent;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  left: 97px;
  top: 22px;
}
.ways__link:hover::after {
  width: 33px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}
@media (min-width: 768px) {
  .ways__dir {
    padding-left: 53px;
    padding-top: 73px;
    padding-bottom: 62px;
  }
  .ways__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 37.02px;
    padding-bottom: 25px;
    padding-left: 0;
    margin-top: 0;
  }
  .ways__icon-box {
    width: 200px;
    height: 200px;
    top: 90px;
    left: 446px;
  }
  .ways__icon {
    max-width: none;
    width: 140px;
    height: 194px;
    top: -16px;
    left: 26px;
  }
  .ways__icon--pro {
    width: 268px;
    height: 112px;
    top: 40px;
    left: -38px;
  }
  .ways__desc {
    padding-right: 260px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
    font-family: "Arial MT", "Arial", sans-serif;
    padding-bottom: 37px;
  }
  .ways__desc--pro {
    padding-right: 295px;
  }
  .ways__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    border-top: none;
  }
  .ways__link::after {
    left: 131px;
    top: 25px;
  }
  .ways__link--pro::after {
    left: 125px;
  }
}
@media (min-width: 1300px) {
  .ways__title {
    padding-bottom: 75px;
    padding-left: 160px;
  }
  .ways__dir {
    padding-top: 76px;
    padding-right: 50px;
  }
  .ways__icon-box {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
  .ways__icon {
    max-width: none;
    width: 70px;
    height: 97px;
    top: -9px;
    left: 10px;
  }
  .ways__icon--pro {
    width: 134px;
    height: 56px;
    top: 18px;
    left: -21px;
  }
  .ways__desc {
    padding-right: 0;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .ways__link {
    padding-top: 0;
  }
  .ways__link::after {
    top: 5px;
  }
}
.features {
  margin-bottom: 46px;
}
.features__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
  margin-top: 0;
  margin-bottom: 28px;
}
.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features__item {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  padding-left: 80px;
  margin-bottom: 26px;
}
.features__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
}
.features__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features__item--leaf::before {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px 50px;
  }
}
.features__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features__item--powder::before {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px 50px;
  }
}
.features__item--dining::before {
  background-image: url("../img/advantage-dining@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features__item--dining::before {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px 50px;
  }
}
.features__item--time::before {
  background-image: url("../img/advantage-clock@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features__item--time::before {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px 50px;
  }
}
@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 80px;
    margin-bottom: 76px;
  }
  .features__item {
    padding-left: 0;
    padding-top: 112px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 245px;
  }
  .features__item:first-child {
    margin-bottom: 133px;
  }
  .features__item::before {
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
  }
  .features__item::after {
    position: absolute;
    content: "";
    color: #f2f2f2;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    font-weight: 400;
    line-height: 281px;
    z-index: -1;
    top: -40px;
  }
  .features__item--leaf::after {
    content: "1";
    right: 15px;
  }
  .features__item--powder::after {
    content: "2";
    right: 0;
  }
  .features__item--dining::after {
    content: "3";
    right: -3px;
  }
  .features__item--time::after {
    content: "4";
    right: -3px;
  }
  .features__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1300px) {
  .features {
    margin-bottom: 0;
  }
  .features__item {
    margin-right: 0;
  }
  .features__item:first-child {
    margin-bottom: 45px;
  }
  .features__list {
    padding-right: 0;
    margin-bottom: 0;
  }
}
.case {
  background-color: #f2f2f2;
  padding-top: 18px;
  /*padding-bottom: 36px;*/
}
.case__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-bottom: 23px;
}
.case__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  width: 280px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-bottom: 25px;
}
.case__param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 110px;
  padding: 0;
  width: 280px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-bottom: 34px;
}
.case__param-item {
  display: block;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  width: 124px;
  height: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 13px;
  margin: 0;
  text-align: center;
}
.case__param-item strong {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.case__param-item span {
  display: block;
  width: 57px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: #f2f2f2;
  padding-left: 16px;
  padding-right: 16px;
}
.case__expences {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
  margin: 0;
}
.case__slider {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 320px;
}
@media (min-width: 768px) {
  .case {
    background-color: white;
    border-top: 1px solid #f2f2f2;
    padding-bottom: 0;
  }
  .case__param {
    width: 708px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 183px;
  }
  .case__title {
    margin-top: 25px;
    margin-bottom: 65px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
  .case__desc {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 708px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 20px;
    margin-bottom: 52px;
  }
  .case__param-item {
    width: 162px;
    height: 72px;
    margin-right: 25px;
  }
  .case__param-item strong {
    font-size: 30px;
    font-weight: 400;
    line-height: 37.02px;
    margin-bottom: 10px;
  }
  .case__param-item span {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #444444;
    font-family: "Arial MT", "Arial", sans-serif;
    background-color: white;
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
  }
  .case__expences {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8px;
  }
  .case__expences span {
    margin-top: 10px;
  }
  .case__slider {
    width: 768px;
  }
}
@media (min-width: 1300px) {
  .case {
    border: none;
    padding-top: 83px;
  }
  .case__title {
    margin-top: 0;
    margin-bottom: 75px;
    padding-top: 0;
  }
  .case__content {
    width: 1440px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
  }
  .case__info {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f2f2f2;
    padding-top: 70px;
    padding-left: 110px;
  }
  .case__expences {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
  }
  .case__expences span {
    padding-right: 64px;
  }
  .case__desc {
    margin: 0;
    width: auto;
    padding-right: 175px;
    margin-bottom: 68px;
  }
  .case__param {
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 0;
    margin-bottom: 67px;
  }
  .case__param-item {
    width: 162px;
    margin-right: 42px;
  }
  .case__param-item span {
    background-color: #f2f2f2;
  }
  .case__slider {
    width: 50%;
    margin: 0;
  }
}
.slider {
  position: relative;
}
.slider input {
  display: none;
}
.slider__slide {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 18px;
  height: 310px;
}
.slider__thick-image {
  text-align: center;
}
.slider__toggles {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 197px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  top: 272px;
  left: 65px;
}
.slider__toggle-left {
  position: relative;
}
.slider__toggle-left::before {
  position: absolute;
  content: "";
  width: 42px;
  height: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #cdcdcd;
  border-right: none;
  background-color: #ffffff;
  right: -60px;
  top: 3px;
}
.slider__toggle-right {
  position: relative;
}
.slider__toggle-right::before {
  position: absolute;
  content: "";
  width: 42px;
  height: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #cdcdcd;
  border-left: none;
  background-color: #ffffff;
  left: -60px;
  top: 3px;
}
.slider__toggle-right::after {
  position: absolute;
  display: none;
  content: "";
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  top: 7px;
  left: -57px;
}
.slider__toggle-left::after {
  position: absolute;
  display: none;
  content: "";
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  top: 7px;
  right: -58px;
}
.slider__before:checked ~ .slider__toggles .slider__toggle-left::after {
  display: block;
}
.slider__after:checked ~ .slider__toggles .slider__toggle-right::after {
  display: block;
}
.slider__before:checked ~ .slider__slide .slider__image-after {
  display: none;
}
.slider__before:checked ~ .slider__slide .slider__image-before {
  display: block;
}
.slider__after:checked ~ .slider__slide .slider__image-before {
  display: none;
}
.slider__after:checked ~ .slider__slide .slider__image-after {
  display: block;
}
.slider__after:checked ~ .slider__slide {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .slider__toggles {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    width: 570px;
    margin-top: 18px;
    top: 350px;
    left: 28px;
  }
  .slider__slide {
    background-color: #f2f2f2;
    padding-bottom: 150px;
    padding-left: 45px;
  }
  .slider img {
    width: 677px;
    height: 517px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -170px;
  }
  .slider__toggles label {
    border-bottom: 1px dotted #dbdbdb;
    padding-bottom: 6px;
  }
  .slider__toggles label:hover {
    border-bottom: 1px solid #989898;
  }
  .slider__toggles label:active {
    border: none;
  }
  .slider__toggles label:hover::after {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  .slider__toggles label:active::after {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #68b738;
  }
  .slider__toggle-left::before {
    width: 214px;
    height: 6px;
    border-radius: 3px;
    background-color: #dcdcdc;
    left: 71px;
    top: 6px;
  }
  .slider__toggle-right::before {
    width: 214px;
    height: 6px;
    border-radius: 3px;
    background-color: #dcdcdc;
    left: -236px;
    top: 6px;
  }
  .slider__toggle-right::after {
    width: 34px;
    height: 34px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-image: radial-gradient(#68b738 4px, white 4px);
    top: -8px;
  }
  .slider__toggle-left::after {
    width: 34px;
    height: 34px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-image: radial-gradient(#68b738 4px, white 4px);
    top: -8px;
  }
}
@media (min-width: 1300px) {
  .slider {
    padding-bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .slider__slide {
    padding: 0;
    height: 100%;
    padding-right: 100px;
  }
  .slider img {
    margin-top: -190px;
    text-align: center;
  }
  .slider__image-before {
    width: 677px;
    margin-left: -40px;
  }
  .slider__toggles {
    top: 348px;
    left: -30px;
  }
}
.footer {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 320px;
}
.footer__contacts {
  margin-bottom: -5px;
}
.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contacts--other {
  background-color: #f2f2f2;
}
.footer__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: cover;
  width: 320px;
  height: 362px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .footer__map {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}
.footer__main {
  background-color: #f2f2f2;
  padding-top: 41px;
  padding-bottom: 30px;
}
.footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 29px;
  border-bottom: 1px solid #dadada;
}
.footer__logo:hover {
  opacity: 0.8;
}
.footer__logo:active {
  opacity: 0.6;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: auto;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 18px;
  width: 130px;
}
.footer__social-item {
  margin-right: 5px;
}
.footer__social-item svg {
  fill: #666666;
}
.footer__social-item:hover svg {
  fill: #68b738;
}
.footer__social-item:active svg {
  opacity: 0.3;
}
.footer__academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  text-decoration: none;
}
.footer__academy:hover svg {
  fill: #68b738;
}
.footer__academy:active {
  opacity: 0.3;
}
.footer__copyright {
  padding-top: 21px;
  border-top: 1px solid #dadada;
}
@media (min-width: 768px) {
  .footer {
    width: 768px;
  }
  .footer__map {
    width: 768px;
    height: 396px;
    background-image: url("../img/bg-map-tablet@1x.png");
  }
  .footer__main {
    padding-top: 62px;
    padding-bottom: 54px;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__social {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 3px;
  }
  .footer__social-icon--vk {
    width: 30px;
    height: 16px;
  }
  .footer__social-icon--insta {
    width: 23px;
    height: 23px;
  }
  .footer__social-icon--fb {
    width: 14px;
    height: 28px;
  }
  .footer__logo {
    margin: 0;
    border: none;
    padding: 0;
    padding-right: 28px;
  }
  .footer__copyright {
    margin-top: 0;
    padding: 0;
    border: none;
    width: 164px;
    margin-bottom: 3px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .footer__map {
    background-image: url("../img/bg-map-tablet@2x.png");
  }
}
@media (min-width: 1300px) {
  .footer {
    width: 1440px;
  }
  .footer__contacts {
    position: relative;
  }
  .footer__adress {
    position: absolute;
    background-color: white;
    width: 570px;
    height: 201px;
    z-index: 2;
    top: 95px;
    left: 110px;
    padding: 60px;
  }
  .footer__map {
    width: 1440px;
    background-image: url("../img/bg-map-desktop@1x.png");
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .footer__map {
    background-image: url("../img/bg-map-desktop@2x.png");
  }
}
.contacts {
  padding-top: 30px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contacts__invite {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;
}
.contacts__adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 135px;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 63px;
    padding-bottom: 38px;
    padding-left: 41px;
    padding-right: 41px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contacts__invite {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    width: 155px;
    margin-top: 3px;
  }
  .contacts__adress {
    font-size: 16px;
    width: 155px;
    text-align: right;
  }
  .contacts__adress span {
    display: block;
    margin-bottom: 20px;
  }
}
@media (min-width: 1300px) {
  .contacts {
    padding-left: 75px;
    padding-right: 90px;
  }
  .contacts p {
    display: block;
    width: 155px;
  }
  .contacts__adress {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.range {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 320px;
  margin-bottom: 42px;
}
.range__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .range {
    width: 768px;
    margin-bottom: 87px;
  }
  .range__list {
    width: 708px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .range__item {
    margin-top: 138px;
  }
}
@media (min-width: 1300px) {
  .range {
    width: 1440px;
    margin-bottom: 93px;
  }
  .range__list {
    width: 1220px;
  }
}
.good {
  border: 1px solid #ededed;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 19px 24px 19px;
}
.good__image {
  float: left;
  width: 140px;
  height: 144px;
}
.good a {
  text-decoration: none;
}
.good__name {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 21px;
  margin-bottom: 11px;
  width: 75px;
}
.good__desc {
  width: 137px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  margin-bottom: 16px;
}
.good__desc td {
  padding: 0;
}
.good__num {
  text-align: right;
}
.good--ajax {
  text-align: center;
  border: 1px solid #ededed;
  padding-top: 27px;
}
.good--ajax a {
  display: block;
}
.good__name--ajax {
  width: auto;
  margin-top: 19px;
  margin-bottom: 8px;
}
.good__desc--ajax {
  text-align: center;
  width: auto;
  margin: 0;
  margin-bottom: 21px;
}
.good__image--ajax {
  text-align: center;
  float: none;
  /*background-color: @2;*/
  opacity: 0.2;
  width: 30px;
  height: 30px;
}
.good__button--ajax {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}
.good__button--ajax:hover {
  background-color: #ebebeb;
}
.good__button--ajax:active {
  color: rgba(68, 68, 68, 0.3);
}
.good--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  border-top: 1px solid #cdcdcd;
  background-color: white;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 17px;
}
.good--add:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.good__name--add {
  margin-top: 0;
  margin-bottom: 10px;
  width: auto;
}
.good__desc--add {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  line-height: 14px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  width: auto;
}
@media (min-width: 768px) {
  .good {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 324px;
    background-color: #f2f2f2;
    padding: 0;
    padding-bottom: 40px;
    margin-bottom: 3px;
  }
  .good a {
    display: block;
    text-align: center;
  }
  .good__image {
    float: none;
    width: 100%;
    margin-bottom: 14px;
  }
  .good__image--small {
    height: 172px;
    margin-top: -48px;
  }
  .good__image--big {
    height: 208px;
    margin-top: -84px;
  }
  .good__name {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    width: auto;
  }
  .good__name span {
    display: block;
  }
  .good__desc {
    margin-top: 8px;
    padding-left: 35px;
    padding-right: 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .good__desc td {
    border-bottom: 1px solid #cdcdcd;
    border-right-width: 0;
    padding-bottom: 9px;
    padding-top: 6px;
  }
  .good__button {
    width: 250px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .good--ajax {
    background-color: white;
    padding-top: 55px;
    padding-left: 37px;
    padding-right: 37px;
  }
  .good__name--ajax {
    margin-bottom: 27px;
    width: 140px;
  }
  .good__image--ajax {
    background-color: transparent;
    width: 60px;
    height: 60px;
    margin-bottom: 26px;
  }
  .good__desc--ajax {
    margin-top: 0;
    margin-bottom: 85px;
  }
  .good__button--ajax {
    margin: 0;
  }
  .good--add {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: auto;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding-top: 25px;
    padding-right: 36px;
    padding-bottom: 27px;
    padding-left: 37px;
    margin-bottom: 0;
  }
  .good__name--add {
    margin: 0;
  }
  .good__button--add {
    width: 633px;
    font-size: 16px;
    margin-top: 24px;
  }
  .good__desc--add {
    width: 240px;
    padding: 0;
    padding-top: 8px;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .good__price--add {
    width: 95px;
    text-align: right;
  }
}
@media (min-width: 1300px) {
  .good {
    width: 245px;
    margin-bottom: 5px;
  }
  .good__button {
    width: 169px;
  }
  .good--ajax {
    padding-left: 0;
    padding-right: 0;
  }
  .good--add {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 895px;
    border: none;
    border-top: 1px solid #f2f2f2;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  .good--add:last-child {
    border-bottom: 1px solid #f2f2f2;
  }
  .good__button--add {
    width: 245px;
    margin: 0;
  }
  .good--add .good__name--add {
    margin-bottom: 0;
    width: 325px;
    text-align: left;
  }
  .good__desc--add {
    width: 286px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 8px;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 34px;
  }
}
.add-range {
  width: 320px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border-top: 3px solid #68b738;
}
.add-range__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
  width: 230px;
  padding-left: 19px;
  padding-right: 18px;
  margin-bottom: 34px;
  margin-top: -17px;
  background-color: white;
  text-align: left;
}
.add-range__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.add-range__promo {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  min-height: 289px;
  text-align: center;
  margin-top: 39px;
  padding-top: 65px;
  padding-bottom: 42px;
  margin-bottom: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .add-range__promo {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}
.add-range__promo-icon {
  margin-bottom: 59px;
}
.add-range__promo-text {
  color: #ffffff;
  font-family: "Arial MT", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .add-range {
    width: 768px;
    margin-bottom: 75px;
  }
  .add-range__title {
    width: 340px;
    margin-left: 28px;
    padding-left: 39px;
    padding-right: 34px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-top: -25px;
    margin-bottom: 80px;
  }
  .add-range__promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;
    min-height: 200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 69px;
    margin-bottom: 0;
    padding: 46px 115px 55px 91px;
  }
  .add-range__promo-text {
    width: 170px;
    text-align: left;
    padding-top: 13px;
  }
  .add-range__promo-icon {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .add-range__promo {
    background-image: url("../img/gift-photo-tablet@2x.jpg");
    background-size: cover;
  }
}
@media (min-width: 1300px) {
  .add-range {
    width: 1440px;
    margin-bottom: 86px;
    /*padding-bottom: 80px;*/
  }
  .add-range__title {
    margin-left: 70px;
    padding-left: 38px;
  }
  .add-range__promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 245px;
    margin-top: 0;
    padding: 43px;
    padding-top: 65px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }
  .add-range__promo-text {
    text-align: center;
  }
  .add-range__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .add-range__promo {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
  }
}
.order-form {
  width: 320px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-bottom: 19px;
}
.order-form__button {
  width: 280px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.order-form__note {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  font-family: "Arial MT", "Arial", sans-serif;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .order-form {
    width: 768px;
    margin-bottom: 105px;
  }
  .order-form__button {
    width: 280px;
    margin: 0;
    float: left;
    margin-left: 71px;
  }
  .order-form__note {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    float: right;
    text-align: left;
    width: 354px;
    vertical-align: baseline;
    margin-bottom: 20px;
  }
}
@media (min-width: 1300px) {
  .order-form {
    width: 1440px;
    margin-bottom: 116px;
  }
  .order-form__button {
    width: 568px;
    margin-left: 110px;
  }
  .order-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1220px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-bottom: 68px;
  }
  .order-form__note {
    float: right;
    text-align: left;
    width: 680px;
    vertical-align: baseline;
    margin-left: 50px;
    margin-top: 15px;
  }
}
.fieldset {
  border: none;
  border-top: 3px solid #68b738;
  margin-left: 19px;
  padding-left: 0;
  padding-right: 20px;
  padding-top: 30px;
  margin-right: 0;
}
.fieldset--name {
  border: none;
  padding-top: 0;
  margin-bottom: 15px;
}
.fieldset--goal {
  border: 1px solid #cdcdcd;
  margin-left: 0;
  margin-bottom: 10px;
  margin-right: 0;
  padding-left: 19px;
  padding-top: 25px;
  padding-bottom: 27px;
}
.fieldset--contacts {
  margin-bottom: 20px;
}
.fieldset--checkbox {
  padding-top: 34px;
  margin-bottom: 30px;
}
.fieldset__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fieldset__legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #222222;
  padding-right: 10px;
  text-align: left;
}
.fieldset__legend--contacts {
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 18px;
  margin-bottom: 4px;
}
.fieldset__legend--checkbox {
  padding-bottom: 5px;
  padding-right: 24px;
}
.fieldset__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}
.fieldset__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 14px;
}
.fieldset__item:last-child {
  margin-bottom: 0;
}
.fieldset__item--radio,
.fieldset__item--checkbox {
  margin-bottom: 25px;
}
.fieldset__item input[placeholder] {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
.fieldset__item input[type="text"],
.fieldset__item input[type="number"],
.fieldset__item input[type="tel"],
.fieldset__item input[type="email"],
.fieldset__item input[required] {
  border: 1px solid rgba(205, 205, 205, 0.5);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  padding-bottom: 13px;
  margin-left: 13px;
  outline: none;
}
.fieldset__item input[type="text"]:hover,
.fieldset__item input[type="number"]:hover,
.fieldset__item input[type="tel"]:hover,
.fieldset__item input[type="email"]:hover,
.fieldset__item input[required]:hover {
  border: 1px solid #cdcdcd;
}
.fieldset__item input[type="text"]:focus,
.fieldset__item input[type="number"]:focus,
.fieldset__item input[type="tel"]:focus,
.fieldset__item input[type="email"]:focus,
.fieldset__item input[required]:focus {
  border: 2px solid #444444;
  opacity: 1;
}
.fieldset__item input[type="text"]:focus ~ .fieldset__icon,
.fieldset__item input[type="number"]:focus ~ .fieldset__icon,
.fieldset__item input[type="tel"]:focus ~ .fieldset__icon,
.fieldset__item input[type="email"]:focus ~ .fieldset__icon,
.fieldset__item input[required]:focus ~ .fieldset__icon {
  fill: #68b738;
}
.fieldset__item input[type="text"]:invalid,
.fieldset__item input[type="number"]:invalid,
.fieldset__item input[type="tel"]:invalid,
.fieldset__item input[type="email"]:invalid,
.fieldset__item input[required]:invalid {
  border: 2px solid #ff8282;
}
.fieldset__item input[type="text"]:invalid ~ .fieldset__icon,
.fieldset__item input[type="number"]:invalid ~ .fieldset__icon,
.fieldset__item input[type="tel"]:invalid ~ .fieldset__icon,
.fieldset__item input[type="email"]:invalid ~ .fieldset__icon,
.fieldset__item input[required]:invalid ~ .fieldset__icon {
  fill: #ff8282;
}
.fieldset--name label,
.fieldset--contacts label {
  white-space: pre;
  word-break: normal;
}
.fieldset__item--checkbox input,
.fieldset__item--radio input {
  display: none;
}
.fieldset__item--checkbox input:disabled ~ .fieldset__label,
.fieldset__item--radio input:disabled ~ .fieldset__label {
  opacity: 0.3;
}
.fieldset__label--radio,
.fieldset__label--checkbox {
  position: relative;
  padding-left: 46px;
}
.fieldset__label--radio:hover::before,
.fieldset__label--checkbox:hover::before {
  border: 1px solid #bababa;
}
.fieldset__label--radio::before,
.fieldset__label--checkbox::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  top: -5px;
}
.fieldset__label--radio::before {
  border-radius: 50%;
}
.fieldset__item--radio input:checked ~ .fieldset__label--radio::after {
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738;
  left: 9px;
  top: 4px;
}
.fieldset__item--checkbox input:checked ~ .fieldset__label--checkbox::after {
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  left: 5px;
  top: 3px;
}
.fieldset--comment {
  margin-bottom: 25px;
  padding-bottom: 0;
}
.fieldset__legend--comment {
  padding-bottom: 5px;
  padding-right: 22px;
}
.fieldset__textarea {
  width: 280px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-top: 12px;
  padding-left: 15px;
  border: 1px solid #cdcdcd;
}
.fieldset__item--contacts {
  position: relative;
}
.fieldset__icon {
  position: absolute;
  right: 17px;
  top: 16px;
}
.fieldset__icon--phone {
  right: 13px;
  top: 14px;
}
@media (min-width: 768px) {
  .fieldset {
    padding-right: 0;
    padding-left: 30px;
    margin: 0;
  }
  .fieldset--name {
    margin-bottom: 63px;
  }
  .fieldset--goal {
    padding: 34px 0;
    margin-left: 72px;
    margin-right: 67px;
    margin-bottom: 75px;
  }
  .fieldset--contacts {
    padding-top: 61px;
    padding-bottom: 65px;
  }
  .fieldset--comment {
    padding-top: 65px;
    padding-bottom: 61px;
  }
  .fieldset--checkbox {
    padding-top: 57px;
    padding-bottom: 12px;
  }
  .fieldset__legend {
    padding-left: 40px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }
  .fieldset__item {
    margin-bottom: 20px;
  }
  .fieldset__list {
    margin-bottom: 0;
    padding-left: 41px;
    padding-right: 67px;
  }
  .fieldset__list--goal {
    padding-left: 26px;
  }
  .fieldset__list--contacts {
    padding-right: 65px;
  }
  .fieldset__list--checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 10px;
  }
  .fieldset__legend--contacts {
    width: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 11px;
    padding-left: 39px;
    padding-right: 42px;
  }
  .fieldset__legend--comment {
    padding-bottom: 11px;
    padding-right: 37px;
  }
  .fieldset__legend--checkbox {
    padding-bottom: 11px;
    padding-right: 40px;
  }
  .fieldset__item--checkbox {
    width: 50%;
    margin-bottom: 52px;
  }
  .fieldset__label {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
  .fieldset__label--radio,
  .fieldset__label--checkbox {
    padding-left: 58px;
  }
  .fieldset__item--radio {
    margin-bottom: 33px;
  }
  .fieldset__label--radio::before,
  .fieldset__label--checkbox::before {
    width: 40px;
    height: 40px;
    left: 0;
    top: -10px;
  }
  .fieldset__item input[placeholder] {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
  .fieldset__item input[type="text"],
  .fieldset__item input[type="number"],
  .fieldset__item input[type="tel"],
  .fieldset__item input[type="email"],
  .fieldset__item input[required] {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 17px;
    margin-left: 17px;
  }
  .fieldset__item--radio input:checked ~ .fieldset__label--radio::after {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 1px;
  }
  .fieldset__item--checkbox input:checked ~ .fieldset__label--checkbox::after {
    left: 9px;
    top: 3px;
  }
  .fieldset__icon {
    top: 18px;
  }
  .fieldset__textarea {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 9px;
    width: 631px;
    height: 174px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;
    margin-left: 40px;
  }
}
@media (min-width: 1300px) {
  .fieldset {
    padding-left: 70px;
    padding-right: 110px;
  }
  .fieldset--name {
    padding: 0;
    margin: 0;
    width: 570px;
  }
  .fieldset--goal {
    margin: 0;
    width: 570px;
    padding: 27px;
    padding-top: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .fieldset--contacts {
    padding-bottom: 47px;
  }
  .fieldset--comment {
    padding-bottom: 64px;
  }
  .fieldset--checkbox {
    padding-bottom: 18px;
  }
  .fieldset__list {
    padding-left: 40px;
    padding-right: 0;
  }
  .fieldset__list--name {
    margin: 0;
    padding-left: 0;
  }
  .fieldset__list--goal {
    padding-left: 0;
  }
  .fieldset__list--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fieldset__list--checkbox {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fieldset__item--contacts {
    width: 570px;
  }
  .fieldset__textarea {
    width: 1220px;
  }
  .fieldset__item--checkbox {
    width: 245px;
  }
  .fieldset__icon {
    right: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
